<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Flask1 Site</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fileinput.min.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" media="all" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}" media="all" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='pictures/favicon.png') }}">
</head>

<header>
  <nav class="navbar navbar-default" role="navigation" style="margin-top: 20px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
      </button>
    </div>
  </nav>
</header>

<body>
  <div class="container" style="min-height:100%">
    {% block body -%}
    {% endblock -%}
  </div>
</body>